<!-- chat/templates/chat/room.html -->
{% load static %}  
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{% static '/chatstyle.css' %}">
    <title>Chat Room</title>
</head>
<body>

    <div id="chat-log" cols="100" rows="20">

        {% for chat in chats %}
        {% if chat.sender.username == user_name%}
            <div class="self">
                {{user_name}}: {{chat.content}}
            </div>
        {% else %}
            <div class="other">
                {{chat.sender.username}}: {{chat.content}}
            </div>
        {% endif %}
        {% endfor %}
    </div><br>
    <div class="msg-box">
        <input class="text-area" id="chat-message-input" type="text" size="100">
        <input class="button" id="chat-message-submit" type="button" value="Send">
    </div>

    {{ group_name|json_script:"room-name" }}
    {{ user_name|json_script:'username' }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const userName=JSON.parse(document.getElementById('username').textContent);
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            var data = JSON.parse(e.data);
            
            let sent_by;
            let display_msg;
            if(data.sender==userName){
                sent_by='self';
            }
            else{
               sent_by='other';
            }
            console.log(data)
            display_msg = '<div class="' + sent_by + '">' + data.sender + ': ' + data.message + '</div>';
            console.log(display_msg);
            document.querySelector('#chat-log').innerHTML += display_msg;
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'sender':userName,
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>